*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: whitesmoke;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: sans-serif;
}

.sharpness-container {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    justify-items: center;
    background-color: black;
}

.sharpness-slider {
    display: grid;
    justify-items: center;
}

.sharpness-slider label {
    text-transform: uppercase;
}

.blob-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 5px;
    background-color: black;
    border: 1px solid #242424;
}

#the-blob {
    width: min(70vw, 70vh);
    padding: 100px;
    max-width: 800px;
    aspect-ratio: 1;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: border-radius 1s ease;
}

#the-blob button {
    cursor: pointer;
    aspect-ratio: 1;
    border: none;
    border-radius: 50%;
    padding: 2rem;
    box-shadow: 0 0 0 #0003;
    transition: transform 50ms ease-out, box-shadow 50ms ease-out, border-radius 1s ease;
}

#the-blob button:hover,
#the-blob button:focus-visible {
    transform: translate(-1px, -1px) scale(1.025);
    box-shadow: 2px 2px 6px #0003;
}

#the-blob button:active {
    transform: translate(1px, 1px) scale(0.99);
    box-shadow: 2px 2px 2px #0008 inset;
}

.corner {
    background-color: #242424;
}

.corner:nth-of-type(1),
.corner:nth-of-type(7) {
    border-right: 1px solid #999;
}

.corner:nth-of-type(1),
.corner:nth-of-type(3) {
    border-bottom: 1px solid #999;
}

.corner:nth-of-type(3),
.corner:nth-of-type(9) {
    border-left: 1px solid #999;
}

.corner:nth-of-type(7),
.corner:nth-of-type(9) {
    border-top: 1px solid #999;
}

.horizontal,
.vertical {
    width: 1rem;
    aspect-ratio: 1;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    transition: top 1s ease, left 1s ease, outline 150ms ease-out;
    outline: 0 solid white;
}

.horizontal:hover,
.horizontal:focus-visible,
.vertical:hover,
.vertical:focus-visible {
    outline: 5px solid white;
}

#top-slide,
#bottom-slide {
    position: relative;
    left: 50%;
}

#left-slide,
#right-slide {
    position: relative;
    top: 50%;
}